body{
    font-family: 'Montserrat', sans-serif !important;
}

nav, #trabajos, footer{
    background-color: #000000;
}

header{
    background-image: url(../img/Header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15rem 0;
    height: 100vh;
}

h1, h2, h3{
    font-weight: 800 !important;
}

h4, h5{
    font-weight: 600 !important;
}

p, li{
    font-family: 'Raleway', sans-serif;
}

header h1{
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

header h4{
    font-family: 'Raleway', sans-serif;
    color: #f39200 !important;
}

header a:link, a:visited{
    text-decoration: none;
    color: #ffffff;
}

header a:hover, footer a:hover, #descripcion a:hover{
    color: #f39200;
}

.lntp{
    border-top: solid;
}

#descripcion img{
    width: 100%;
}

#descripcion a{
    color: #000000;
    text-decoration: none;
}

#experiencia .lntp{
    border-style: dashed none none none;
}

#trabajos h4{
    color: #f39200;
}

#trabajos h2 {
    color: #ffffff;
}

#trabajos a {
    color: #f39200;
    text-decoration: none;
}

#trabajos .card a:hover {
    color: #000000;
}

@media (max-width: 992px){
    #descripcion{
        display: none;
    }

    #experiencia .lntp{
        border-style: none;
    }

    #experiencia li{
        display: none;
    }

    .card-text {
        display: none;
    }
}

@media (max-width: 320px){

    header h1{
        font-size: 3rem !important;
    }
    header h4{
        font-size: 1.5rem !important ;
    }
    #experiencia h2, #trabajos h2, #contacto h2 {
        font-size: 2rem;
        text-align: left !important;
    }
    #experiencia h4, #trabajos h4{
        font-size: 1.5rem;
    }
    .oculto{
        display: none !important;
    }
    #experiencia h2{
        padding-bottom: 0.5rem;
        border-bottom: solid;
    }
}